* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #25232B;
}

h1, h2, p {
  margin: 0;
}

.section-container {
  max-width: 980px;
  color: #F9F7F8;
  margin: auto;
}

.section-container__title {
  margin-bottom: 63px;
}

.section-top {
  position: relative;
}

.section-top__title {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.section-top__subtitle {
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: #DEB3AD;
  opacity: 0.3;
  margin-right: -50%;
}

.section-top__line {
  display: block;
  margin: auto;
}

.air {
  min-height: 100px;
  background-color: #F9F7F8;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.main {
  background-color: #F9F7F8;
  padding: 20px 0 40px 0;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.main__logo, .main__image {
  margin-bottom: 20px;
}

.main-image {
  width: 580px;
  height: 553px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 15%;
     object-position: 0 15%;
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 868px;
}

.main-text__title {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  max-width: inherit;
  margin-top: 0;
  margin-bottom: 10px;
}

.main-text__description {
  max-width: 580px;
  font-style: normal;
  font-size: 18px;
  line-height: 138%;
  text-align: center;
  margin-bottom: 30px;
}

.main-text__button {
  max-width: 400px;
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #F9F7F8;
  background: linear-gradient(84.94deg, #D66D75 -2.63%, #E29587 101.46%);
  border: none;
  padding: 14px 141px;
  cursor: pointer;
}

.logo__image {
  width: 235px;
  height: 95px;
}

.about {
  position: relative;
  background-color: #25232B;
  padding: 75px 0 80px 0;
}

.about-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about-image {
  width: 380px;
  height: 526px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-author {
  max-width: 520px;
}

.about-author__name {
  display: block;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 33px;
  margin-bottom: 20px;
}

.about-author__text {
  font-style: normal;
  font-size: 18px;
  line-height: 138%;
}

.about-quote {
  position: absolute;
  left: calc( 50% - 30px);
  top: 540px;
  max-width: 520px;
  background-color: #F9F7F8;
  padding: 33px 70px 32px 71px;
}

.about-quote__text {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  color: #25232B;
  text-align: center;
}

.about-quote__marks {
  position: absolute;
  left: 20px;
  top: -10px;
}

.footer {
  background-color: #25232B;
  padding: 75px 0px 80px 0px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 290px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

.footer-social__icon {
  width: 30px;
  height: 30px;
  fill: #DEB3AD;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contacts__item {
  font-style: normal;
  font-size: 18px;
  line-height: 138%;
  color: #fff;
  margin-bottom: 8px;
}

.footer-contacts__link {
  font-style: normal;
  font-size: 18px;
  line-height: 138%;
  color: #fff;
  text-decoration: none;
}

.footer-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-address {
  max-width: 335px;
}

.footer-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__item {
  font-style: normal;
  font-size: 18px;
  line-height: 138%;
  color: #fff;
  opacity: 0.7;
}

.footer-copyright {
  max-width: 335px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 774px;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar__item {
  margin-right: 30px;
}

.navbar__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none;
  color: #F9F7F8;
}

@media (max-width: 1200px) {
  .section-container {
    max-width: 900px;
  }
  .about-author {
    max-width: 450px;
  }
  .about-quote {
    max-width: 450px;
    left: 50%;
    top: 560px;
    padding: 20px 50px 20px 51px;
  }
}

@media (min-width: 992px) {
  .main-text__button:hover {
    background: #DEB3AD;
  }
  .footer-social__icon:hover {
    fill: #25232B;
  }
  .navbar__link:hover {
    color: #DEB3AD;
  }
}

@media (max-width: 992px) {
  .section-container {
    max-width: 535px;
  }
  .section-container__title {
    margin-bottom: 30px;
  }
  .section-top__title {
    font-size: 30px;
    line-height: 120%;
  }
  .main-text {
    max-width: 800px;
  }
  .about {
    position: static;
    padding: 95px 0 60px 0;
  }
  .about-owner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__owner {
    margin-bottom: 40px;
  }
  .about-image {
    width: 257px;
    height: 447px;
    -o-object-fit: none;
       object-fit: none;
  }
  .about-author {
    max-width: 258px;
  }
  .about-author__name {
    font-size: 20px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .about-author__text {
    font-size: 16px;
  }
  .about-quote {
    position: relative;
    left: 0;
    top: 0;
    margin: auto;
    max-width: inherit;
    padding: 34px 93px 31px 92px;
  }
  .footer {
    padding: 95px 0 60px 0;
  }
  .footer-wrapper {
    min-height: 544px;
  }
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 124px;
  }
  .footer-contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 245px;
  }
  .footer-connect {
    max-width: 230px;
  }
  .footer-address {
    max-width: 260px;
  }
  .footer-time {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 95px;
  }
  .navbar-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (max-content)[5];
        grid-template-columns: repeat(5, -webkit-max-content);
        grid-template-columns: repeat(5, max-content);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 20px;
  }
  .navbar__item {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 10px 0 64px 0;
  }
  .main__logo, .main__image {
    margin-bottom: 10px;
  }
  .main-image {
    width: 391px;
    -o-object-position: none;
       object-position: none;
  }
  .main-text {
    max-width: 530px;
  }
  .main-text__description {
    max-width: inherit;
    font-size: 16px;
    margin-bottom: 46px;
  }
  .main-text__button {
    padding-right: 126px;
    padding-left: 126px;
  }
}

@media (max-width: 576px) {
  .section-container {
    max-width: 335px;
  }
  .section-container__title {
    margin-bottom: 30px;
  }
  .main-text {
    max-width: 450px;
  }
  .about {
    padding: 55px 0px 36px 0px;
  }
  .about-owner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__owner {
    margin-bottom: 30px;
  }
  .about-image {
    width: 335px;
    height: 427px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__image {
    margin-bottom: 30px;
  }
  .about-author {
    max-width: inherit;
  }
  .about-author__name {
    font-size: 22px;
  }
  .about-author__text {
    line-height: 135%;
  }
  .about-quote {
    max-width: inherit;
    padding: 33px 10px 32px 10px;
  }
  .footer {
    padding: 55px 0px 40px 0px;
  }
  .footer-wrapper {
    min-height: 667px;
  }
  .footer-top {
    min-height: 191px;
  }
  .footer-contacts {
    min-height: 278px;
  }
  .footer-contacts__item {
    font-size: 16px;
    line-height: 135%;
  }
  .footer-connect {
    max-width: inherit;
  }
  .footer-connect__item {
    font-size: 16px;
    line-height: 135%;
  }
  .footer-address {
    max-width: inherit;
  }
  .footer-bottom {
    min-height: 128px;
  }
  .footer-bottom__item {
    font-size: 16px;
    line-height: 135%;
  }
  .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 126px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    padding-top: 0;
    padding-bottom: 53px;
  }
  .main__logo, .main__image {
    margin-bottom: 0;
  }
  .main-image {
    width: 286px;
    height: 411px;
  }
  .main-text {
    max-width: 335px;
  }
  .main-text__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main-text__description {
    line-height: 135%;
    margin-bottom: 25px;
  }
  .main-text__button {
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    text-transform: none;
    padding: 16px 122px;
  }
  .logo__image {
    width: 181px;
    height: 73px;
  }
}
/*# sourceMappingURL=style.css.map */