@media (max-width: 1200px)
  .section
    &-container
      max-width: 900px
  .about
    &-author
      max-width: 450px
    &-quote
      max-width: 450px
      left: 50%
      top: 560px
      padding: 20px 50px 20px 51px
  
@media (min-width: 992px)
  .main
    &-text
      &__button:hover
        background: $accent
  .footer
    &-social
      &__icon:hover
        fill: $secondary
  .navbar
    &__link:hover
      color: $accent

@media (max-width: 992px)
  .section
    &-container
      max-width: 535px
      &__title
        margin-bottom: 30px
    &-top
      &__title
        font-size: 30px
        line-height: 120%
  .main
    &-text
      max-width: 800px
  .about
    position: static
    padding: 95px 0 60px 0
    &-owner
      align-items: center
    &__owner
      margin-bottom: 40px
    &-image
      width: 257px
      height: 447px
      object-fit: none
    &-author
      max-width: 258px
      &__name
        font-size: 20px
        line-height: 125%
        margin-top: 0
        margin-bottom: 10px
      &__text
        font-size: 16px
    &-quote
      position: relative
      left: 0
      top: 0
      margin: auto
      max-width: inherit
      padding: 34px 93px 31px 92px
  .footer
    padding: 95px 0 60px 0
    &-wrapper
      min-height: 544px
    &-top
      flex-direction: column
      align-items: start
      flex-wrap: wrap
      min-height: 124px
    &-contacts
      flex-wrap: wrap
      min-height: 245px
    &-connect
      max-width: 230px
    &-address
      max-width: 260px
    &-time
      justify-content: space-between
    &-bottom
      flex-wrap: wrap
      min-height: 95px
  
  .navbar
    &-list
      display: grid
      grid-template-columns: repeat(5, max-content)
      column-gap: 30px
      row-gap: 20px
    &__item
      margin-right: 0px



@media (max-width: 768px)  
  .main
    padding: 10px 0 64px 0
    &__logo, &__image
      margin-bottom: 10px
    &-image
      width: 391px
      object-position: none
    &-text
      max-width: 530px
      &__description
        max-width: inherit
        font-size: 16px
        margin-bottom: 46px
      &__button
        padding-right: 126px
        padding-left: 126px
  
@media (max-width: 576px)
  .section
    &-container
      max-width: 335px
      &__title
        margin-bottom: 30px      
  .main
    &-text
      max-width: 450px
  .about
    padding: 55px 0px 36px 0px
    &-owner
      flex-direction: column
    &__owner
      margin-bottom: 30px
    &-image
      width: 335px
      height: 427px
      object-fit: cover
    &__image
      margin-bottom: 30px
    &-author
      max-width: inherit
      &__name
        font-size: 22px
      &__text
        line-height: 135%
    &-quote
      max-width: inherit
      padding: 33px 10px 32px 10px
  
@media (min-width: 320px) and (max-width: 480px)
  .main
    padding-top: 0
    padding-bottom: 53px
    &__logo, &__image
      margin-bottom: 0
    &-image
      width: 286px
      height: 411px
    &-text
      max-width: 335px
      &__title
        font-size: 30px
        margin-bottom: 20px
      &__description
        line-height: 135%
        margin-bottom: 25px
      &__button
        font-family: 'Cinzel', serif
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 115%
        text-transform: none
        padding: 16px 122px
  .logo
    &__image
      width: 181px
      height: 73px
